body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(253, 250, 253);
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
}

header {
    background-color: #fbd8cd;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 10px 0;
    color: #8a4b8a;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: underline;
    color: #333;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #8a4b8a;
}

section {
    padding: 40px 0;
}

section h2 {
    color: #8a4b8a;
}

.category-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.category-list li {
    margin: 10px 0;
}

.category-list li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    background-color: #f7e0d9;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.category-list li a:hover {
    background-color: #8a4b8a;
    color: #fff;
}

footer {
    background-color: #f7e0d9;
    text-align: center;
    padding: 10px 0;
    position: fixed; 
    bottom: 0;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#quoteoftheday a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    background-color: #f7e0d9;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#quoteoftheday a:hover {
    background-color: #8a4b8a;
    color: #fff;
}
