body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(253, 250, 253);
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
}

header {
    background-color: #fbd8cd;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 10px 0;
    color: #8a4b8a;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: underline;
    color: #333;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #8a4b8a
}

section {
    padding: 40px 0;
}

section h2 {
    color: #8a4b8a
}

footer {
    background-color: #f7e0d9;
    text-align: center;
    padding: 10px 0;
    position: fixed; 
    bottom: 0;
    width: 100%
}
